
<header>
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="menu_logo_section">
            <div class="menu">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="logo">
              <a href="#"><img src="assets/img/logo.png" alt=""/></a>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="phone_log_out">
            <div class="log_out">
              <a href="#"><img src="assets/img/log_out.png" alt=""/></a>
            </div>
            <div class="phone_number">
              +11 2358132134
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <router-outlet></router-outlet>
  