
<section class="banner">
  <img src="assets/img/banner.jpg" alt=""/>
  <div class="banner_text">
    <h2>Create your own photostory</h2>
    <p>Make your photobook online</p>
    <a href="#">make your photobook</a>
  </div>
</section>
<section class="category_section">
  <div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="category_box">
        <div class="category_image_box">
              <img src="assets/img/cat.png" alt=""/>
        </div>
        <h3>Download <br>
            photos</h3>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="category_box">
        <div class="category_image_box">
              <img src="assets/img/cat2.png" alt=""/>
        </div>
        <h3>Design your<br>
        photobook</h3>
      </div>
    </div>

    <div class="col-sm-3">
        <div class="category_box">
          <div class="category_image_box">
                <img src="assets/img/cat3.png" alt=""/>
          </div>
          <h3>Pay<br>
              for service</h3>
        </div>
      </div>

      <div class="col-sm-3">
          <div class="category_box">
            <div class="category_image_box">
                  <img src="assets/img/cat4.png" alt=""/>
            </div>
            <h3>Get your<br>
                photobook</h3>
          </div>
        </div>
    
  </div>
</div>
</section>

<section class="advantage">
  <div class="container">
    <h2>Advantage</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="advantage_box">
          <img src="assets/img/advantage1.png" alt=""/>
          <h3>Import photos<br>
              from your social networks</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt modi tempora</p>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="advantage_box">
            <img src="assets/img/advantage2.png" alt=""/>
            <h3>Photo editing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ora incidunt ut labore.</p>
          </div>
        </div>
        <div class="col-sm-4">
            <div class="advantage_box">
              <img src="assets/img/advantage3.png" alt=""/>
              <h3>Templates</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing. Ut enim ad minim, nostrud exercitation ullamco laboris nisi ut aliquip ex commodo.</p>
            </div>
          </div>
    </div>

    <a href="#" class="button_photobook">make your photobook</a>
  </div>
</section>

<section class="ready_solution">
  <div class="container">
    <h2>Ready solutions</h2>
    <div class="row">
      <div class="col-sm-4">
        <div class="ready_solution_box">
          <h3>LightBook</h3>
          <div class="ready_solution_box_middle">
              <ul>
                <li>15×10 cm</li>
                <li>12 pages</li>
                <li>binding on the clip</li>
              </ul>
              <div class="total">$129</div>
          </div>
          <div class="ready_solution_box_footer">
              Make your LightBook
          </div>
        </div>
      </div>

      <div class="col-sm-4">
          <div class="ready_solution_box">
            <h3>ClassicBook</h3>
            <div class="best_seller">bestseller</div>
            <div class="ready_solution_box_middle">
                <ul>
                  <li>30×21 cm</li>
                  <li>36 pages</li>
                  <li>binding on the spring</li>
                  <li>fabric cover</li>
                </ul>
                <div class="total">$239</div>
            </div>
            <div class="ready_solution_box_footer">
                Make your LightBook
            </div>
          </div>
        </div>

        <div class="col-sm-4">
            <div class="ready_solution_box">
              <h3>LightBook</h3>
              <div class="ready_solution_box_middle">
                  <ul>
                    <li>42×50 cm</li>
                    <li>50 pages</li>
                    <li>hardcover</li>
                    <li>leather cover</li>
                    <li>free shipping</li>
                  </ul>
                  <div class="total">$759</div>
              </div>
              <div class="ready_solution_box_footer">
                  Make your LightBook
              </div>
            </div>
          </div>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h2>Testimonials</h2>

        <div class="testimonials_client_details">
          <div class="testimonials_client_img">
            <img src="assets/img/testi.png" alt=""/>
          </div>
          <div class="testimonials_client_about">
              <h3>John Doe</h3>
              <span>Wedding photographer</span>
          </div>
        </div>
       <div class="testi_details">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
      <a href="#">Next testimonial</a>
      </div>
      <div class="photo_book_btn">
        <a href="#">make your photobook</a>
      </div>
      </div>
    </div>
  </div>
</section>

<section class="term_payment_shipping">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="term_payment_shipping_box">
          <h3>Terms</h3>
          <div class="term_payment_shipping_details">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="term_payment_shipping_box">
          <h3>Payment</h3>
          <div class="term_payment_shipping_details">

            <p>Payment methods:</p>
            <ul>
              <li>VISA </li>
              <li>MasterCard </li>
              <li>PayPal</li>
              <li>American Express</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="term_payment_shipping_box">
          <h3>Shipping</h3>
          <div class="term_payment_shipping_details">

            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p><span>Free shipping <br>for PremiumBook</span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
    <a href="#" class="button_photobook">make your photobook</a>
  </div>
  </div>
</section>
